/* line 4, ../sass/style.scss */
body {
  margin: 0;
  font-family: "Times New Roman";
  color: #222;
}

/* line 10, ../sass/style.scss */
h1, h2, h3, h4, h5 {
  text-align: center;
}

/* line 14, ../sass/style.scss */
h1 {
  font-size: 50px;
}

/* line 18, ../sass/style.scss */
h2 {
  font-size: 31px;
}

/* line 22, ../sass/style.scss */
h3 {
  font-size: 28px;
}

/* line 26, ../sass/style.scss */
h4 {
  font-size: 14px;
}

/* line 30, ../sass/style.scss */
.js-hidden {
  display: none;
}

/* line 34, ../sass/style.scss */
.home-page {
  display: block;
  padding: 20px 0;
  width: 500px;
  margin: auto;
}
/* line 40, ../sass/style.scss */
.home-page .navbar {
  text-align: center;
  margin: 20px 0;
}
/* line 44, ../sass/style.scss */
.home-page .navbar a {
  color: #222;
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
/* line 53, ../sass/style.scss */
.home-page .header-content {
  width: 100%;
}
/* line 56, ../sass/style.scss */
.home-page .header-content h1 {
  text-transform: uppercase;
}
/* line 60, ../sass/style.scss */
.home-page .header-content h4 {
  text-transform: uppercase;
  margin: 15px 0;
}
/* line 65, ../sass/style.scss */
.home-page .header-content .header-image {
  width: 100%;
}
/* line 70, ../sass/style.scss */
.home-page .body-content, .home-page #works-content, .home-page #exhibitions-content, .home-page #artists-statement-content, .home-page #resume-content, .home-page #contact-content {
  margin: 40px 0;
}
/* line 73, ../sass/style.scss */
.home-page .body-content h2, .home-page #works-content h2, .home-page #exhibitions-content h2, .home-page #artists-statement-content h2, .home-page #resume-content h2, .home-page #contact-content h2 {
  text-transform: uppercase;
  margin: 20px 0 10px;
}
/* line 78, ../sass/style.scss */
.home-page .body-content .body-text, .home-page #works-content .body-text, .home-page #exhibitions-content .body-text, .home-page #artists-statement-content .body-text, .home-page #resume-content .body-text, .home-page #contact-content .body-text, .home-page #artists-statement-content .statement-section, .home-page #contact-content .contact-info {
  margin: 15px 0;
  text-align: center;
  font-size: 14px;
}
/* line 89, ../sass/style.scss */
.home-page #works-content h3 {
  text-transform: uppercase;
}
/* line 94, ../sass/style.scss */
.home-page #works-content .works-list img {
  width: 100%;
  margin: 15px 0;
}
/* line 104, ../sass/style.scss */
.home-page #exhibitions-content .exhibitions-section {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
}
/* line 110, ../sass/style.scss */
.home-page #exhibitions-content .exhibitions-section .header {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 116, ../sass/style.scss */
.home-page #exhibitions-content .exhibitions-section .exhibitions {
  margin: 50px 0;
}
/* line 120, ../sass/style.scss */
.home-page #exhibitions-content .exhibitions-section .exhibition {
  margin: 25px 0;
}
/* line 123, ../sass/style.scss */
.home-page #exhibitions-content .exhibitions-section .exhibition .time {
  margin-right: 20px;
}
/* line 141, ../sass/style.scss */
.home-page #resume-content .resume-section {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
}
/* line 147, ../sass/style.scss */
.home-page #resume-content .resume-section .header {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 153, ../sass/style.scss */
.home-page #resume-content .resume-section .resume-list {
  margin: 25px 0;
}
/* line 157, ../sass/style.scss */
.home-page #resume-content .resume-section .resume-item {
  margin: 25px 0;
}
/* line 160, ../sass/style.scss */
.home-page #resume-content .resume-section .resume-item .time {
  margin-right: 20px;
}

/* line 176, ../sass/style.scss */
.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #222;
}

/* line 183, ../sass/style.scss */
.gold-divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #bca474;
}
